
/* Begin module styles */
@font-face {
    font-family: "Flaticon";
    src: url("admin-ui/flaticon.eot");
    src: url("admin-ui/flaticon.eot#iefix") format("embedded-opentype"),
    url("admin-ui/flaticon.woff") format("woff"),
    url("admin-ui/flaticon.ttf") format("truetype"),
    url("admin-ui/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

body.nouvo-toolbar-active {
    /* Account for fixed position toolbar width */
    padding-left: 100px;
}

/* Overlay adjustments */
.nouvo-toolbar-active #overlay-container {
    left: 100px;
}
.nouvo-toolbar-active #overlay-container,
.nouvo-toolbar-active .overlay-modal-background,
.nouvo-toolbar-active .overlay-element {
    right: 0;
}
.nouvo-toolbar-active #overlay-container,
.nouvo-toolbar-active .overlay-modal-background {
    width: auto;
}

#nouvo-toolbar {
    box-sizing: border-box;
}
#nouvo-toolbar *, #nouvo-toolbar *:before, #nouvo-toolbar *:after {
    box-sizing: inherit;
}
#nouvo-toolbar {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}
#nouvo-toolbar a {
    text-decoration: none;
}
#nouvo-toolbar ul {
    margin: 0;
    padding: 0;
}
#nouvo-toolbar > ul {
    height: 100%;
    width: 100px;
    background: #3d464b;
}
#nouvo-toolbar li {
    list-style: none;
}
.nouvo-btn {}
.nouvo-btn a {
    display: block;
    text-decoration: none;
}
.nouvo-btn a,
.nouvo-btn a:hover,
.nouvo-btn a:focus {
    color: #333;
}
.nouvo-btn > a {
    height: 100px;
    padding: 65px 10px 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 9px;
    line-height: 12px;
    position: relative;
}
.nouvo-btn > a,
.nouvo-btn > a:active,
.nouvo-btn > a:visited {
    color: #eee;
}
.nouvo-btn > a:hover,
.nouvo-btn.active > a {
    background-color: #515c62;
    color: #eee;
}
.no-js .nouvo-btn > a:hover,
.no-js .nouvo-btn:hover > a,
.nouvo-btn.open > a {
    background-color: #fff;
    color: #333;
}
.no-js .nouvo-btn > a:hover:before,
.no-js .nouvo-btn:hover > a:before,
.nouvo-btn.open > a:before {
    color: #333;
}
.nouvo-2nd {
    display: none;
    position: absolute;
    top: 0;
    left: 100px;
    width: 200px;
    height: 100%;
    background: #fff;
    border-right: 2px solid #3d464b;
}
.no-js .nouvo-btn:hover > .nouvo-2nd,
.nouvo-btn.open > .nouvo-2nd,
.nouvo-btn.close > .nouvo-2nd {
    display: block;
}
.nouvo-2nd > li a {
    padding: 15px 20px;
    font-size: 13px;
    border-bottom: 1px solid #eee;
}
.nouvo-2nd .nouvo-parent > a {
    background: #fff;
    border-bottom: 1px solid #eee;
    position: relative;
}
#nouvo-toolbar .nouvo-parent > ul {
    height: 0;
    overflow: hidden;
    border-left: 5px solid #eee;
}
.no-js #nouvo-toolbar .nouvo-parent:hover > ul,
#nouvo-toolbar .nouvo-parent.open > ul {
    height: 100%;
}
#nouvo-toolbar .nouvo-parent.open .nouvo-sub li:last-child a {
    /*border-bottom: 0;*/
}
/* Open wrapper colors */
#nouvo-toolbar .nouvo-parent.open + li > a {
    /*border-top: 1px solid #428bca;*/
}
.nouvo-2nd .nouvo-parent.open > a {
    background-color: #428bca;
    border-color: #428bca;
    color: #fff;
}
#nouvo-toolbar .nouvo-parent.open > ul {
    border-color: #428bca;
}
/* Open children */
.nouvo-parent > ul a {
    background: #fff;
}
/* Hover */
.nouvo-2nd > li a:hover {
    background: #eee;
    color: #333;
}
.nouvo-parent > ul a:hover {
    background: #eee;
    color: #333;
}
.nouvo-btn > a:before,
#nouvo-toolbar .nouvo-parent > a:after {
    display: block;
    font-family: Flaticon;
    font-style: normal;
    color: #fff;
}
.nouvo-btn > a:before {
    font-size: 36px;
    text-align: center;
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
}
.nouvo-admin-content > a:before {
    content: "\e08a";
}
.nouvo-admin-structure > a:before {
    content: "\e031";
}
.nouvo-admin-appearance > a:before {
    content: "\e0f7";
}
.nouvo-admin-people > a:before {
    content: "\e092";
}
.nouvo-admin-modules > a:before {
    content: "\e119";
}
.nouvo-admin-config > a:before {
    content: "\e18a";
}
.nouvo-admin-reports > a:before {
    content: "\e14c";
}
.nouvo-admin-help > a:before {
    content: "\e098";
}
#nouvo-toolbar .nouvo-parent > a:after {
    content: "\e012";
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 10px;
    margin-left: 12px;
    color: #999;
}
#nouvo-toolbar .nouvo-parent > a:hover:after {
}
.no-js #nouvo-toolbar .nouvo-parent:hover > a:after,
#nouvo-toolbar .nouvo-parent.open > a:after {
    content: "\e069";
    color: #fff;
}

/* Overflow on breaks Chrome Android */
#nouvo-toolbar > ul,
.nouvo-2nd {
    overflow-x: hidden;
    overflow-y: auto;
}

/* Begin animations */
.nouvo-toolbar {
    z-index: 100;
}
.nouvo-2nd {
    z-index: -1;
}
#nouvo-toolbar .nouvo-parent > ul {
    -webkit-transition: height .3s ease-in-out;
    -moz-transition: height .3s ease-in-out;
    -o-transition: height .3s ease-in-out;
    -ms-transition: height .3s ease-in-out;
    transition: height .3s ease-in-out;
}
.nouvo-btn .nouvo-2nd {
    -webkit-animation-duration: 350ms;
    animation-duration: 350ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
}
.nouvo-btn.close .nouvo-2nd {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
}
.nouvo-btn.open .nouvo-2nd {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
}
@-webkit-keyframes slideInLeft {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        display: block;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes slideInLeft {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        display: block;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@-webkit-keyframes slideInRight {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        display: block;
    }

    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        display: none;
    }
}
@keyframes slideInRight {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        display: block;
    }

    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        display: none;
    }
}
/* End animations */